#waiting {
	display: none;
    background-color: lightblue;
}

#live {
	display: none;
    background-color: #ADE6CE;
}

#tooLate {
	display: none;
    background-color: red;
}

#finish {
	display: none;
    background-color: green;
}
